html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 1300px;
  margin: auto;
  background: rgb(242, 231, 231);
  color: rgb(37, 88, 46);
}

button {
  border: 1px solid rgba(0, 0, 0, 0.3);
  opacity: 0.6;
  outline: none;
}

#home {
  position: relative;
  height: 300px;
}

#fixedNav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 40px;
}

#fixedNav li {
  padding: 0 7px;
}

#home .logo {
  top: 10px;
}

#about,
#menu,
#contact {
  width: 500px;
  margin: auto;
}

#special {
  display: grid;
  grid-template-areas:
    "special special special"
    "img tit price"
    "img desc desc";
  /* "ico ico ico"; */
}

.special {
  grid-area: special;
  text-align: center;
}

.foodImg {
  grid-area: img;
}

.title {
  grid-area: tit;
  margin: 0;
  text-align: center;
}

.price {
  grid-area: price;
  text-align: center;
}

.desc {
  grid-area: desc;
  padding-left: 55px;
}

#menu {
  position: relative;
}

#menuList {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#menuTitle {
  text-align: center;
}

#menuButtons {
  display: flex;
  justify-content: space-around;
  padding: 0 0 30px;
}

.menuButton {
  width: 150px;
  height: 50px;
}

.foodItems {
  display: grid;
  grid-template-areas:
    "title price"
    "desc desc";
  width: 250px;
}

.foodTitle {
  grid-area: title;
  margin: 0;
  width: 150px;
}

.menuPrice {
  grid-area: price;
  display: flex;
  align-items: center;
}

.foodDesc {
  grid-area: desc;
  margin: 0;
  padding: 5px 0 20px 0;
  text-align: center;
}

#about h1 {
  text-align: center;
}

#about p {
  text-align: center;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}
